* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #ecebfa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin-top: 8rem;
  text-align: center;
}

header > h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

button {
  width: 6.8rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(250, 250, 250, 0.945);
  margin: 0.5rem;
  padding: 0.4rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

#increment {
  background-color: rgba(20, 202, 51, 0.945);
}
#decrement {
  background-color: rgba(202, 20, 20, 0.945);
}
#reset {
  background-color: rgba(20, 144, 202, 0.945);
}
